.oder{
    width: 100%;
    height: 100vh;
    padding: 5px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: purple;
    position: fixed;
    right: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

nav .logo img{
    width: 80px;
    margin: 20px 0;
    position: relative;
    left: -45%;
    cursor: pointer;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color:  #fff;
}

nav ul li a.action{
    color: #fff;
}

nav .login a{
    color: white;
    text-decoration: none;
    border: 2px solid  white;
    border-radius: 20px;
    padding: 7px 20px;
    transition: 0.3s;
}

nav .login a:hover{
    background:  purple;
    color: #fff;
}

.oder h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.oder h1 span{
    color: #6b0699;
    margin-right: 10px;
}

.oder .oder_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 15px;
}

.oder .oder_main .oder_img img{
    width: 500px;
}

.oder .oder_main .oder_form{
    width: 60%;
    height: 620px;
    background: #faf3ce;
    padding: 15px 20px 0 20px;
    border-radius: 10px;
}

.oder .oder_main .oder_form h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.oder .oder_main .oder_form .oder_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;
    margin-bottom: 30px;
}

.oder .oder_main .oder_form .oder_list p{
    margin-bottom: 5px;
}

.oder .oder_main .oder_form .oder_list input{
    width: 350px;
    border: 2px solid #6b0699;
    border-radius: 5px;
    outline: none;
    background: none;
    color: #000;
    padding: 10px 5px;
    margin-bottom: 15px;
}

.oder .oder_main .oder_form .oder_list textarea{
    width: 350px;
    height: 200px;
    border: 2px solid #6b0699;
    border-radius: 5px;
    outline: none;
    background: none;
    color: #000;
    padding: 10px 5px;
}

.oder .oder_main .oder_form .oder_btn{
    padding: 10px 20px;
    border: 2px solid #6b0699;
    text-decoration: none;
    color: #fff;
    background: #6b0699;
}

.oder .oder_main .oder_form .oder_btn i{
    margin-right: 8px;
}



